body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: white;
}
img { 
    height: 350px;
    
}

p {
    text-align: center;
    color: white;
}