.blog-landing {
    width: 100%;
    height: 80%;
    display:flex;
    justify-content:center;
    align-content: center;
    overflow: hidden;
    overflow:scroll;
    background-color: $container-color;
    background-color: steelblue;
    background-image: url(../img/keyboard.jpg);
    background-repeat: no-repeat no-repeat;
     
}
* {
    font-family:  'Oswald', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
    text-align: center;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    
    
    .col {
        background-color: rgba(255,255,255,0.12);
        margin:0 15px 30px;
        border-radius: 2%;
    }
    .col-50 {
        width: 50%;
        border-radius: 1%;
        
    }
    .col-20 {
        width: 20%;
        box-sizing: border-box;
    }
    img {
        max-width: 40%;
        border-radius: 2%;
        
        }
    h3 {
        color: sandybrown;
    }
    p {
        color: white;
    }
    }

    @media screen and (max-width: 600px) {
        
        
        .columns {
            overflow: hidden; 
            overflow: scroll;
            }
            h3 {
                text-align: center !important;
            }
        .col-20 {
            width: 100% !important;
        }
        .col-50 {
            
            width: 100% !important;
            height: 40% !important;
                       
            
        }
        img {
            height: 85%;
            max-width: 100% !important;
          }
        }


  
    
    
   


