.blog-landing {
    width: 100%;
    height: 80%;
    display:flex;
    justify-content:center;
    align-content: center;
    overflow: hidden;
    overflow:scroll;
    background-color: $container-color;
    background-color: steelblue;
    background-image: url(../img/keyboard.jpg);
    background-repeat: no-repeat no-repeat;
     
}
* {
    font-family:  'Oswald', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
    text-align: center;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    
    
    .col {
        background-color: rgba(255,255,255,0.12);
        margin:0 15px 30px;
        border-radius: 2%;
    }
    .col-50 {
        width: 50%;
        border-radius: 1%;
        background-image: url(../img/blog2-1.jpeg.crdownload);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col-10 {
        width: 10%;
    }
    img {
        max-width: 40%;
        border-radius: 2%;
        
        }
    h3 {
        color: sandybrown;
    }
    p {
        color: white;
    }
    }

    @media screen and (max-width: 600px) {
        img {
            width: 100%;
            height: 100%;
        }
        .columns {
            overflow: hidden; 
            overflow: scroll;
        }
        .col-10 {
            width: 100% !important;
        }
        .col-50 {
            width: 100% !important;
            
        }
        }
        
    





  

//   a {
//     color: white;
  // a {
            // font-family:  'Oswald', sans-serif;
            // text-decoration: none;
            // font-weight: bold;
            // color: rgb(16,153,215);
            // text-align: center;
            
    // }
    // a:hover {
    //     font-family:  'Oswald', sans-serif;
    //     text-decoration: none;
    //     font-weight: bold;
    //     color: rgba(236, 155, 3, 0.952);
    //     text-align: center;
  

  
    
    
   


