.blog-landing {
    width: 100%;
    height: 80%;
    display:flex;
    overflow:scroll;
    align-items: center;
    background-color: $container-color;
    background-color: steelblue;
    background-image: url(../img/keyboard.jpg);
    background-repeat: no-repeat no-repeat;
    
          
    
    

}
* {
    font-family:  'Oswald', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
    text-align: center;
}

.blogcontent {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // background-color: $container-color;
    
    .col {
        
        margin:0 15px 30px;
        border-radius: 2%;
        
    }
    .col-501 {
        width: 40%;
        height: 40%;
        border-radius: 1%;
        
        }

        .col-501 img {
            width: 100%;
            height: 100%;
            border-radius: 3%;
            mix-blend-mode: lighten;
            

        }
          
    .col-20 {
            width: 25%;
            height: 20%;
            
            }
        h3 {
            color: sandybrown;
            }
        p {
            color: white;
            }

    }
    

    

    @media screen and (max-width:800px) {
        .blog-landing {
            
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;

            .blogcontent {
                max-height: 100% !important;
            }

            .col-501 {
                justify-content: center;
                width: 100% !important;
                height: 40% !important;  
                }
                .col-501 img{
                    width: auto !important;
                    height: 100% !important;  
                    }
    
            
            }
            }
            

        
        .blogcontent {
            width: 100%;

            .col-20 {
            width: 100% !important;
            }
        }