* {
    margin: 0;
}

@mixin flexCenter($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

$primary-color: #161b22;

$secondary-color: #0d1117;

.nav-header {
    height: 10vh;
    background-color: $primary-color;
        
    nav {
        @include flexCenter(space-between);
        height: 100%;
        font-family:  'Oswald', sans-serif;
        }
    nav a  {
            text-decoration: none;
            font-weight: bold;
            color: white;
        }
    nav a:hover {
                color: rgba(236, 155, 3, 0.952)
              }

}

.landing {
    width: 100%;
    height: 60vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Oswald', sans-serif;
color: white;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
}
.main-image {
    width: 100%;
    height: 30vh;
    background-color: $secondary-color;
    @include flexCenter;
    
    img {
        width: 500px;
        height: auto;
        margin: 0;
        padding: 0;
        
    }
}