.port-main {
    width: 100%;
    height: 90vh;
    background-color: $container-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/backdrop.jpg);
    background-size: cover;
    background-position: center;                     
    }

.port-container {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
background-color: $container-color;
opacity: 0.8;
padding: 20px;
border: white;
}

.port-img-con {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    background-color: $container-color;
    padding: 20px;
    border: white;
    opacity: 0.7;
    

    
}
.example-image {
    img {
        height: 200px;
        width: 300px;
        padding: 10px;
        opacity: 0.8;
    }

    img:hover {
        transform:scale(1.5);
        transition: .3s all ease;
}
}

.container-text {
opacity: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

ul li {
    color: white;
    list-style: none;
    padding: 10px 0 0 0;
}