* {
    margin: 0;
}

body, html {
    height: 100%;

}

.text {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
}



 @mixin flexCenter($justify) {  
     display: flex;
     justify-content: $justify;
   align-items: center;
 }

.nav-header {
    height:10vh;
    background-color: $primary-color;
    font-family: 'Oswald', sans-serif;
    color: white;
    @include flexCenter(space-evenly);
    .header-title {
        padding-right: 20px
    }
        
    nav {
            margin-left: auto;
            font-family:  'Oswald', sans-serif;
        }
    nav a  {
            text-decoration: none;
            font-weight: bold;
            color: white;
            margin:10px;
            transition: all 0.3s, ease, 0;
            
        }
    nav a:hover {
                color: rgba(236, 155, 3, 0.952)
            }
              
}
@media screen and (max-width: 600px) {
    .nav-header {
        display: flex;
        flex-direction: column;

        nav {
            margin: 0;
        }

        }
    
    h1 {
        font-size: large;
        }
    
    
    .text-box {
        height: 100%;
        font-size: small;
        // overflow:scroll;
    }

    .port-main {
        width: 100vw;
        display: block;
        overflow: scroll !important;
    }

    .box1 {
        height: auto !important;
        width: 100% !important;
        overflow: hidden !important
    }

    .box2 {
        height: auto !important;
        width: 100vw !important;
        flex-flow: column !important;
        overflow: hidden !important;
    }
    .example-image {
        max-width:90% !important;
        
    }
    .footer {
        .socials {
            width: 25px !important;
            height: 25px !important;
            display: flex;
            flex-direction: row;
            
            
            img {
                height: 100%;
                width: 100%;
                text-align: center;
                border-radius: 95%;
                }   
        }

    }
    

    
}



.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.footer {
    width: 100%;
    height:10vh;
    background-color: $secondary-color;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    font-family:  'Oswald', sans-serif;
    margin: 0%;
        a {
            color: white;
            text-decoration: none;
            max-width: 100%;
            max-height: 100%;
        }  
        
      .socials { 
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: row;
        
        
        img {
            height: 100%;
            width: 100%;
            text-align: center;
            border-radius: 95%;
            }   
                     
    }
}

.landing {
    width: 100%;
    height: 80vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/backdrop2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    }

    .about-landing {
        width: 100%;
        height: 80vh;
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(../img/blogging.jpg);
        background-repeat: no-repeat;
    background-size: 100% 100%;
    
        }
        .blog-landing {
            width: 100%;
            height: 80vh;
            background-color: $secondary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: url(../img/aboutme.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        
            }